// $primary: #61DB98;
$white: #fff;
$black: #000;
$dark: #1e1e1e;
$primary: #ff4040;
$paleRed: #fff7f7;
$secondary: #ff0000;
$grey: rgba(30, 30, 30, 0.5);

// paddings
$xl-pad: 4rem;
$l-pad: 2rem;
$m-pad: 1.5rem;
$s-pad: 1rem;
$xs-pad: 0.5rem;

// margin
$xl-margin: 4.5rem;
$l-margin: 2rem;
$m-margin: 1rem;
$s-margin: 0.5rem;

// border radius
$l-border-radius: 1rem;
$m-border-radius: 0.5rem;
$s-border-radius: 0.3rem;
