@import "./variables";
@import "./mixins";
@import "./utilities";
@import "./nav";
@import "./support";
@import "./signup";
@import "./successfulRide";
@import "./bookOrder";
@import "./driverSignup";
@import "./wallet";
@import "./accountSettings";
@import "./myRides";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  transition: all 300ms;
}

html,
body {
  border: none;
  line-height: 1.3;
  width: 100%;
  height: 100%;
  text-align: justify;
  font-family: "Alef", sans-serif;
  // overflow: hidden;
  ::-webkit-scrollbar {
    // display: none;
    width: 0.2rem;
  }
  ::-webkit-scrollbar-thumb {
    border: 1px solid $secondary;
    border-radius: 0.3rem;
    background-color: $primary;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px $white;
  }
}

body {
  @include mobile() {
    padding-top: 81px;
  }
}

input,
select,
textarea {
  width: 90%;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.8rem 0.5rem;
  border: 1px solid $grey;
  border-radius: $m-border-radius;
  color: $dark;
  resize: none;
  &:hover {
    border: 1px solid $primary;
  }
  @include mobile() {
    width: 100%;
    font-size: 16px;
    padding: 0.5rem;
    &::placeholder {
      font-size: 14px;
    }
  }
}

input[type="submit"] {
  @include mobile() {
    font-weight: 100;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
  }
}

.floating__modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 37rem;

  height: 12rem;
  right: 0;
  top: 88px;
  z-index: 999999;
  background: #0b0b0b;
  box-shadow: 0px 6.17476px 6.17476px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 0px 20px;
  padding: 1.5rem 1rem 1rem 2rem;
  @include mobile() {
    top: 81px;
    max-width: 100%;
    width: 26rem;
    height: 10.5rem;
  }
  h2 {
    font-family: "Alef";
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 25px;
    letter-spacing: -0.05em;
    margin-bottom: 1rem;
    color: #ffffff;
    /* White */
  }
  li {
    margin-bottom: 0.3rem;
    color: $primary;
    font-weight: bold;
    list-style-type: none;
    position: relative;
    padding-left: 18px;
    &::before {
      position: absolute;
      content: "";
      background-color: red;
      border-radius: 50rem;
      width: 1rem;
      height: 1rem;
      top: 2px;
      left: -3px;
    }
  }
  p {
    margin-bottom: 0.3rem;
    margin-left: 1.39rem;
    color: #ffffff;
  }
  button {
    border-radius: 0;
    align-self: end;
    width: fit-content;
  }
}
