.modal--overlay {
  position: fixed;
  inset: 0;
  background-color: rgba($color: #000000, $alpha: 0.7);
  z-index: 10000000000;
  transform: translateY(-101px);
}

.modal {
  width: 40%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 10000000000;
  background-color: $white;
  padding: $m-pad $xl-pad;
  text-align: center;
  @include flex-col;

  h1 {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  input {
    width: 50%;
    border: none;
    border-bottom: dashed;
  }

  @include tablet {
    width: 50%;
  }

  @include mobile {
    width: 90%;
  }
}
